
<%- include('header_links') -%>

</head>
  <body>
    <footer class="p-1 footer bg-black text-white text-base font-semibold footer-center">
      <div>
        <p>Made with ❤️ by Shree</p>
      </div>
    </footer>
  </body>
</html>
