@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero
{
  font-family: 'Poppins', sans-serif;
  background-color: #F5D48D ;
  /* background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80 ');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
}

#typing_text::-webkit-scrollbar
{
  display:none;
  width: 0;
}
#typing_text p span{
  position: relative;
}
#typing_text p span.correct{
  color: #56964f;
}
#typing_text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
#typing_text p span.active{
  color: #17A2B8;
}
#typing_text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink
{
  50%
  {
    opacity: 1;
  }
}
